:root{
    --purple-pop: #4f03a9;
    --lighter-grey: #656565;
    --darker-grey: #434343;
    --off-black: #191919;
    --white: #FFFFFF;
    --my-font: 'din_alternatebold', Arial, sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: var(--off-black);
    font-family: var(--my-font);
}

/* Helpful site for figuring out flex stylings https://css-tricks.com/snippets/css/a-guide-to-flexbox/  */
body, html {
    width: 305%;
    /* height: 200%; */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    position: relative;
    /* top: 40px; */
}

body .big-div{
    height: 1080px;
    width: 1920px;
    border: 5px solid seashell;
}

.d-flex{
    display: flex;
}

.big-div{
    size: 1920px;
    color: var(--lighter-grey);
    position: relative;
    top: 40px;
}

section {
    padding: 60px;
}

/*references used for skewed border https://codepen.io/daviddarnes/pen/BazQJd */
.skewed-border-right {
    -webkit-transform: skewX(-10deg);
	-moz-transform: skewX(-10deg);
	-ms-transform: skewX(-10deg);
	transform: skewX(-10deg);
    border: 2px solid var(--purple-pop);
}

.skewed-border-left {
    -webkit-transform: skewX(10deg);
	-moz-transform: skewX(10deg);
	-ms-transform: skewX(10deg);
	transform: skewX(10deg);
    border: 2px solid var(--purple-pop);
}

/* Need to figure out how to get doubled border
#landing-area img:before {
    content: " ";
    position: absolute;
    z-index: -1;
    top: 5px;
    left: 5px;
    right: 5px;
    bottom: 5px;
    border: 5px solid #ffea00;
} */

/* HEADER STYLES */
/*reference for shortening border underneath header*/
header {
    padding: 20px 35px;
    /* background-color: blue; */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    position: sticky;
    width: 1920px;
    border-bottom: 5px solid var(--purple-pop);
}

.navbar-fixed-top{
    /* position: -webkit-sticky; */
    position: fixed;
    right: 0;
    left: 0;
    top: 0px;
    z-index: 9999;
}

header a {
    text-decoration: none;
}

header .logo{
    color: var(--purple-pop);
    font-size: 40px;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

header nav ul a {
    margin: 0 30px;
    font-weight: lighter;
    font-size: 1.55vw;
    color: var(--lighter-grey);
}

/* END HEADER STYLES */



/*LANDING DIV STYLE SECTION*/


#landing-area h3{
    position: relative;
    top: 310px;
    left: 470px;
}

#landing-area #intro-para{
    text-align: left;
    display: inline-block;
    position: relative;
    top: -40px;
    left: 450px;
    padding: 15px;
    z-index: 10;
}


#landing-area a{
    text-decoration: none;
}

#landing-area img{
    max-width: 450px;
    max-height: auto;
    position: relative;
    top: 115px;
    left: 390px;

    /* background-color: #434343; */
    
}




