* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color:darkslategray;
}

body, html {
    width: 300%;
    height: 200%;
}

.d-flex{
    display: flex;
}

/* HEADER STYLES */
header {
    padding: 20px 35px;
    background-color: blue;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    position: sticky;
    width: 1920px;
}

.navbar-fixed-top{
    /* position: -webkit-sticky; */
    position: fixed;
    right: 0;
    left: 0;
    top: 0px;
    z-index: 9999;
}

.logo{
    
}

/* .navbar {
    background-color: #000;
    justify-content: space-between;
    padding: 0 5%;
} */

header h1 {
    font-weight: bold;
    margin: 0;
    font-size: 36px;
    color: yellow;
}

header a {
    text-decoration: none;
    color:yellow;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

header nav ul a {
    margin: 0 30px;
    font-weight: lighter;
    font-size: 1.55vw;
}
/* END HEADER STYLES */

section {
    padding: 60px;
}


