* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color:darkslategray;
}

/* Helpful site for figuring out flex stylings https://css-tricks.com/snippets/css/a-guide-to-flexbox/  */
body, html {
    width: 305%;
    /* height: 200%; */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    position: relative;
    top: 40px;
}

body .big-div{
    height: 1080px;
    width: 1920px;
    border: 5px solid seashell;
}

.d-flex{
    display: flex;
}

/* HEADER STYLES */
header {
    padding: 20px 35px;
    background-color: blue;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    position: sticky;
    width: 1920px;
}

.navbar-fixed-top{
    /* position: -webkit-sticky; */
    position: fixed;
    right: 0;
    left: 0;
    top: 0px;
    z-index: 9999;
}

.logo{

}

header h1 {
    font-weight: bold;
    margin: 0;
    font-size: 36px;
    color: yellow;
}

header a {
    text-decoration: none;
    color:yellow;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

header nav ul a {
    margin: 0 30px;
    font-weight: lighter;
    font-size: 1.55vw;
}
/* END HEADER STYLES */

.big-div{
    size: 1920px;
}

section {
    padding: 60px;
}


